*{
	margin: 0;
	padding:0;
}
.fa-github,.fa-linkedin,.fa-twitter,.fa-facebook-square,.fa-instagram{
	font-size: 35px;
}
#feminino{
	display: ;
}
#masculino{
	display: ;
}
#infantil{
	display: ;
}
#todos{
	display:;
}
